<% form_for(@store) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :info_url %><br />
    <%= f.text_field :info_url %>
  </p>
  <p>
    <%= f.label :kind %><br />
    <%= f.select :kind, @kinds %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>